<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Survey</title>
</head>
<body>

<form method="post" action="/esempioSurvey/animalSurvey">
<p>What is your favorite PET?</p>
<p>
	<input type="radio" name="animal" value="1"/>Dog<br>
	<input type="radio" name="animal" value="2"/>Cat<br>
	<input type="radio" name="animal" value="3"/>Bird<br>
	<input type="radio" name="animal" value="4"/>Snake<br>
	<input type="radio" name="animal" value="5" checked="checked"/>None<br>

</p>

<p><input type="submit" value="Submit!"/></p>
</form>

</body>
</html>