<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="connection.username">student</property>
        <property name="connection.password">student</property>
        
        
        <!-- <property name="connection.pool_size">1</property> -->
        
        

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
       
		
		<!-- For singleton factory -->
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
		 -->
		 
		 <!-- enable second level cache and query cache -->
		 <property name="hibernate.cache.use_second_level_cache">true</property>
		 <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		  <property name="hibernate.cache.use_query_cache">true</property>
		  <property name="hibernate.cache.provider_configuration_file_resource_path">/myehcache.xml</property>
 		 


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <property name="hbm2ddl.auto">update</property>

       <!--  <mapping class="org.advancia.filippo.data.entities.UserDetails"/>--> 
        <mapping class="org.advancia.filippo.data.entities.Vehicle"/>
        <!-- <mapping class="org.advancia.filippo.data.entities.TwoWheeler"/> !-->
        <!-- <mapping class="org.advancia.filippo.data.entities.FourWheeler"/> -->
		
    </session-factory>

</hibernate-configuration>
